body {
  background: lavender;
  text-align: center;
}

.brand-logo {
  /*text-align: left;*/
  left: 5%;
  font-family: optima;
}

.nav-wrapper {
  background: #8053c2;
  /*background: #b388ff;*/
  /*background: #8c9eff;*/
}

.port-flex-container {
  display: flex;
  flex-direction: row;

}

.port-link {
  /*width: 50%;
  padding: 20px;*/
}

.project-wrapper {
  width: 50%;
  padding: 20px;
}

.project-wrapper .text {
position:relative;
/*bottom:130px;*/
bottom:80px;
visibility:hidden;
}

.project-wrapper:hover .text {
visibility:visible;
background: teal;
opacity: 0.7;
color: white;
padding: 5px;
/*height: 100%;
width: 100%;*/
}

.skills-logo {
  width: 70px;
  height: 70px;
}

.skills-logo-css {
  width: 80px;
  height: 70px;
}

.skills-logo-js {
  width: 55px;
  height: 80px;
  padding-top: 10px;
}

.skills-logo-react {
  width: 50px;
  height: 70px;
}

.skills-logo-db {
  width: 70px;
  height: 100px;
  padding-top: 20px;
}

.skills-logo-cat {
  width: 70px;
  height: 80px;
}

.skills-logo-heroku {
  width: 85px;
  height: 110px;
  padding-top: 15px;
}

.contact-icon {
  width: 50px;
  border-radius: 10%;
  margin: 5px;
}

.contact-icon:hover {
  width: 53px;
  opacity: 0.7;
}

.contact-icon-mail {
  width: 50px;
  border-radius: 10%;
  padding-bottom: 8px;
  margin: 5px;
}

.contact-icon-mail:hover {
  width: 53px;
  opacity: 0.7;
}

.main {
  height: 700px;
  /*padding-top: 150px;*/
}

.my-pic {
  height: 200px;
  border-radius: 10%;
  margin-top: 10%;
}

h4 {
  padding-top: 100px;
}

.responsive-img {
  box-shadow: 5px 5px 5px #888888;
}

h1 {
  padding-top: 100px;
}

h5 {
  padding-top: 100px;
}

.home-page {
  height: 700px;
  background-image: url("./images/watercolor-background.jpg");
  background-size: cover;
  /*opacity: 0.5;*/
  margin: 0;
  padding: 0;
}

.white-font {
  color: white;
}

.skills-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.purple-font {
  color: #8053c2;
  text-shadow: 1px 1px 1px #888888;
}

.teal-font {
  color: teal;
}

.padding-skills {
  padding-bottom: 50px;
}

.color-change:hover {
  color: #8053c2;
}

.btn {
  text-transform: none !important;
  cursor: default !important;
  background-color: #8053c2 !important;
  opacity: 0.8 !important;
}

.skills-header {
  font-size: 20px;
  padding-bottom: 2%;
  color: teal;
}

.cursor-stay {
  cursor: default;
}
